.body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.rock-paper-scissor {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.username-display {
  font-size: 24px;
  font-weight: bold;
  color: #ffcc00;
  margin: 20px 0;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.move-image {
  height: 50px;
  border-radius: 1px;
}
.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
.move-button:hover {
  transform: scale(1.1);
}
.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
  opacity: 0;
  transition: opacity 0.5s;
}
.show-result {
  opacity: 1;
}
.js-Moves {
  margin-bottom: 60px;
}
.reset-score-button, .restart-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.reset-score-button:hover, .restart-button:hover {
  background-color: #ffd700;
}
.login-container {
  display: none;
  flex-direction: column;
  align-items: center;
}
.login-container input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}
.start-game-button {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.start-game-button:hover {
  background-color: #ffd700;
}
.error-message {
  color: red;
  margin-top: 10px;
}
.series-selection {
  display: none;
  align-items: center;
  gap: 10px;
}
.score, .series {
  margin: 5px 0;
}
.js-score {
  display: flex;
  justify-content: space-between;
}
.reset-container {
  display: flex;
  justify-content: center;
}
.winner-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.947);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  display: none; /* Start hidden */
}